/* Genreal appearence */
header {
    background-color: black;
    color: white;
    padding-top: 1%;
}
nav{  
    background-color: lightgray;
}
a .navigation{
    width: 100;
}
.container {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

.sideBar {
    margin-left: 5%;
    width: 20%;
}

/* table modifiers */
table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

.genreTable{
    width: 100%;
    margin-top: 5%;
}


