#title {
    background-color: black;
    color: white;
    padding-top: 2%;
}

nav{
   
    background-color: lightgray;
}
nav .navbutton {

    width: 50%;
}

#lowerInputBar {
    display: inline-block;
    padding: 0%;
}