#title {
    background-color: black;
    color: white;
    padding-top: 2%;
}

nav{
   
    background-color: lightgray;
}
nav .navbutton {

    width: 50%;
}

#lowerInputBar {
    display: inline-block;
    padding: 0%;
}

.container {
    width: 80%;
    margin-left: 10%;
}

table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

table {
    width: 100%;
}

/* .movieCard {
    width: 30%;
} */
