.title {
    background-color: black;
    color: white;
}

nav{
   
    background-color: lightgray;
}
nav .navbutton {

    width: 50%;
}

.container {
    margin-left: 5%;
}

.sideBar {

    margin-left: 5%;
    width: 20%;
}

table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

table .genreTable{
    width: 100%;
}


