<h2>Add Movie</h2>

<div ng-controller="MovieController as MC">
    <div>
        <md-input-container>
            <input type="text" placeholder="Name" ng-model="MC.titleIn">
        </md-input-container>
        
    </div>
    <div id="lowerInputBar">
        <md-input-container>
            <select ng-model="MC.genreIn">
                <option ng-repeat="genre in MC.genre" ng-value="genre.id">{{genre.genre_name}}</option>
            </select>
        </md-input-container>
        <md-datepicker ng-model="MC.dateIn" md-placeholder="Enter date"></md-datepicker>
        <md-input-container>
            <input type="number" placeholder="Run Time (minutes)"  ng-model="MC.runTimeIn">
        </md-input-container>
        
        <md-button ng-click="MC.submitMovie()">Submit</md-button>
    </div>

    <hr>
        <div>
            <md-card ng-repeat="movie in MC.movie">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{movie.title}}</span>
                        <span class="md-subhead">{{movie.genre_name}}</span>
                    </md-card-title-text>
                    <md-card-content>
                        <p>Release Date: {{movie.release_date.substring(0,10)}}</p>
                        <p>minutes: {{movie.run_time}}</p>
                    </md-card-content>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Delete</md-button>
                </md-card-actions>
            </md-card>
        </div>
</div>