
<h2>Add Movie</h2>
<div ng-controller="MovieController as MC" layout="row">
    
    <div class="sideBar" layout="column">
        <div>
            <md-input-container class="md-block">
                <input type="text" placeholder="Name" ng-model="MC.titleIn">
            </md-input-container>
            <md-input-container class="md-block">
                <input type="text" placeholder="Image URL" ng-model="MC.imageIn">
            </md-input-container>
            
        </div>
        <div layout="column" layout-xs="column" class="md-block" >
            <md-input-container>
                <select ng-model="MC.genreIn">
                    <option value="">----Please Select----</option>
                    <option ng-repeat="genre in MC.genre" ng-value="genre.id">{{genre.genre_name}}</option>
                </select>
            </md-input-container>
            <md-datepicker ng-model="MC.dateIn" md-placeholder="Enter date"></md-datepicker>
            <md-input-container>
                <input type="number" placeholder="Run Time (minutes)"  ng-model="MC.runTimeIn">
            </md-input-container>
            <md-button ng-click="MC.submitMovie()">Submit</md-button>
        </div>
    </div>
        <div class="container" layout="row" layout-xs="column">
            <md-card ng-repeat="movie in MC.movie" class="movieCard" layout="column" flex="50" flex-gt-sm="20">
                <md-card-title layout="column">
                    <p>{{movie.title}}</p>
                    <p>{{movie.genre_name}}</p>
                </md-card-title>
                    <md-card-content>
                        <img ng-src="{{movie.image}}" alt="Not Found" style="width: 100%">
                        <p>Release Date: {{movie.release_date.substring(0,10) | date: 'MM/dd/yyyy'}}</p>
                        <p>minutes: {{movie.run_time}}</p>
                    </md-card-content>
                
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="MC.removeMe( movie.id )">Delete</md-button>
                </md-card-actions>
            </md-card>
        </div>
</div>