

<div ng-controller="GenreController as GC" layout="row">
    
    <div class="sideBar" layout="column">
            <h2>Add Genre</h2>
        <md-input-container>
            <input type="text" placeholder="Project Name" ng-model="GC.genreIn">
        </md-input-container>
        <md-button ng-click="GC.submitGenre()">Submit</md-button>
    </div>

    <div class="container" layout="row" layout-wrap>
        <table class="genreTable">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Total Movies</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="genre in GC.genre">
                    <td>{{genre.genre_name}}</td>
                    <td>{{genre.count}}</td>
                    <td><button ng-click="GC.removeMe( genre.id )">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>